<link rel="import" href="../bower_components/polymer/polymer-element.html">

<script>
  /* @polymerMixin */
  BaseClassMixin = (superClass) => class extends superClass {
    /**
    * Add / Remove class to an element
    *
    * @param {Object} el Element to add/remove class
    * @param {Boolean} val Value True/False
    * @param {String} className Class Name
    */
    togglePaperInputClass(el, val, className) {
      if (val) {
        el.classList.add(className);
      } else {
        el.classList.remove(className);
      }
    }
  };
</script>
